 body {
    margin: 0;
    padding: 0;
 }

 .news1::before {
   content: "New";
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 25px;
 }
 
 header {
display: flex;
align-items: center;
justify-content: center;
height: 400px;
background-color: rgb(147, 144, 144);
background: url(https://images.unsplash.com/photo-1573496773905-f5b17e717f05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80)bottom no-repeat;
background-size: cover;
 }

 h1 {
    color: darkblue;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
 }

 .news {
   background-color: rgb(202, 238, 238);
   padding: 50px 0 32px;
 }

 article {
   width: 768px;
   margin: 0 auto 32px;
   padding: 6px 15px;
   border-bottom: 1px solid rgb(148, 132, 132);
 }

 article a {
   color: rgb(35, 35, 35);
   text-decoration: none;
 }

 article a:hover {
   color: rgb(11, 193, 193);
 }

article h2 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-bottom: 5px;
}

.article-meta {
   color: rgb(133, 132, 132);
   margin-bottom: 5px;
}

article img {
   width: 100%;
   height: 300px;
   object-fit: cover;
}

 footer {
   padding-top: 20px;
   padding-bottom: 60px;
   text-align: center;

 }

 footer .Links {
   margin-bottom: 50px;
 }

 footer .Links > a {
   color: darkgray;
   padding: 0 25px;
   font-size: 13px;
   font-weight: 600;
   letter-spacing: 0.3rem;
   text-transform: uppercase;

 }

 .copyright {
   color: rgb(107, 105, 105);
   font-family: 'Times New Roman', Times, serif;
 }

 section:nth-child(even) {
background: cadetblue;
width: 768px;
margin: 32px auto 32px;
padding: 6px 50px;
 }